
#header {
    background: #333;
    color: white;
}

#canvasContainer {
    padding: 10px;
    background-color: #333;
}

#myCanvas {
    /* center horizontally */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 1040px;
    height: 740px;
}

#selectUser {
    text-align : center;
}

.item {
    border: 1px solid #333;
    margin-bottom: 5px;
    font-size: 2em;
}
.item:hover {
    background-color: #333;
    color: white;
}

.text_center {text-align: center;}

.pointer {
    cursor : pointer;
}

/*
    Draw a field
 */